NODE_ENV=
BACKEND_URL=${backend_url}
FRONTEND_URL=${frontend_url}
PROXY_PORT=443
PORT=${backend_port}

DB_HOST=localhost
DB_DIALECT=postgres
DB_USER=${instancia_add}
DB_PASS=${mysql_root_password}
DB_NAME=${instancia_add}
DB_PORT=5432

MASTER_KEY=senha_master

TIMEOUT_TO_IMPORT_MESSAGE=1000

APP_TRIALEXPIRATION=7

JWT_SECRET=${jwt_secret}
JWT_REFRESH_SECRET=${jwt_refresh_secret}

REDIS_URI=redis://:${mysql_root_password}@127.0.0.1:${redis_port}
REDIS_OPT_LIMITER_MAX=1
REGIS_OPT_LIMITER_DURATION=3000

USER_LIMIT=${max_user}
CONNECTIONS_LIMIT=${max_whats}
CLOSED_SEND_BY_ME=true

VERIFY_TOKEN=whaticket

COMPANY_TOKEN=whaticket
PERFEX_URL=
PERFEX_MODULE=

#METODOS DE PAGAMENTO

MP_ACCESS_TOKEN=

FACEBOOK_APP_ID=2813216208828642
FACEBOOK_APP_SECRET=8233912aeade366dd8e2ebef6be256b6

# EMAIL
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="seuemail@gmail.com"
SMTP_PASS="suasenha"
SMTP_FROM="Redefinição de senha <seuemail@gmail.com>"